.header
{
	min-height: 20px;
 	background-color: #87ceeb; 
 	margin-left: 50px;
 	margin-right: 50px;
 	text-align: center;
 	margin-top: 30px;
 	border: 5px solid blue;
 	
}
.path
{

	min-height: 90px;
 	background-color: #ffcce7; 
 	margin-left: 50px;
 	margin-right: 50px;
 	text-align: center;
 	border: 5px solid  #ff00ff;

}
.doctop
{

    min-height: 20px;
 	background-color: #ffff99;
 	margin-left: 50px;
 	margin-right: 50px;
 	text-align: center;
 	border: 5px solid  #ffbf00;
}
.wrapper,.footer
{
overflow: hidden;

}
.box1
{
	height: 405px;
 	background-color:  #ffb3b3; 
 	width: 15%;
 	float: left;
 	margin-left: 50px;
	text-align: center;
	border: 5px solid #990000;
	padding-right: 60px;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 60px;
}

.box2{

	height: 90px;
 	background-color: #d9b3ff; 
 	width: 40%;
 	float: left;
	text-align: center;
	border: 5px solid #5900b3;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 29.5px;
}
.box3{

	height: 565px;
 	background-color: #85adad; 
 	width: 15%;
 	float: right;
	text-align: center;
	border: 5px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 50px;
	padding-left: 60px;
	padding-right:60px;

}
.box4
{
	height: 245px;
 	background-color: #bbff99; 
 	width: 40%;
 	float: left;
 	text-align: center;
 	border: 5px solid #009933;
 	padding-left: 15px;
 	padding-top: 100px;
 	padding-bottom: 100px;
 	padding-right:14.5px;


 }
 .docb
 {

	min-height:20px;
 	background-color: #ccffff;
 	margin-left: 50px; 
 	margin-right: 50px;
 	text-align: center;
 	border: 5px solid  #00cccc;

 }
.footer
{
	min-height:20px;
 	background-color: #ffc299;
  	margin-left: 50px; 
 	margin-right: 50px;
 	margin-bottom: 30px;
 	text-align: center;
	border: 5px solid #e65c00;
}

